<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
</head>

<body>
    <h1>API - USER</h1>
    <h2> Falar as tecnologias e explicar os endpoints</h2>
    <h1>Quais foram os endpoints que nós utilizamos?</h1>
    <p>1 - routes.post('/user', ussrController.createUser);</p>
        <p>r2 - routes.get('/users', userController.findUsers);</p>
            <p>3 - routes.delete('/user/:id', userController.deleteUser);</p>
                <p>4 - routes.put('/user/:id', userController.updateUser);</p>
                    <p> 5 - routes.post('/user/authenticated', userController.authenticatedUser);</p>
</body>

</html>