<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Users</title>
</head>

<body>
    <h1>API - USER</h1>
    <h2>Falar as tecnologias e explicar os endpoints</h2>
    <h1>Quais foram os endpoints que nós utilizamos?</h1>
    <p>1 - routes.post('/user', userController.createUser);</p>
    <p>2 - routes.get('/users', userController.findUsers);</p>
    <p>3 - routes.delete('/user/:id', userController.deleteUser);</p>
    <p>4 - routes.put('/user/:id', userController.updateUser);</p>
    <p>5 - routes.post('/user/authenticated', userController.authenticatedUser);</p>

    <h2>1 - Método HTTP: POST '/user' </h2>
    <p>Usado para criar um novo user, após enviar uma solicitação (POST), o controlador, carrega a solicitação, faz a criação de um novo user com todas as informações, e retorna todas as informações.</p>

    <h2>2 - Método HTTP: GET '/users'</h2>
    <p>Usado pra recuperar a lista criada com todos os usuários, após enviar uma solicitação (GET), o controlador faz o processamento da solicitação, retornando uma lista de users</p>

    <h2>3 - Método HTTP: DELETE '/user/:id'</h2>
    <p>Usado para excluir um determinado usuário, utilizando seu id, sendo assim, o id do user que será excluído é passado na url, o controlador faz o processamento da solicitação (DELETE), assim, encontra o user com seu respectivo id, e o deleta do sistema.</p>

    <h2>4 - Método HTTP: PUT '/user/:id'</h2>
    <p>Usado para fazer atualizações nos dados de um user já existente, utilizando também seu id, o id do user que será excluído é passado na url, o controlador faz o processamento da solicitação (PUT), faz uma busca pelo usuário com seu id, e atualiza seus respectivos dados no sistema.</p>

    <h2>5 - Método HTTP: POST '/user/authenticated' </h2>
    <p>Usado para fazer a autenticação de um user, e para que o usuário faça login no sistema, após enviar a solicitação (POST), o controlador faz o processamento da solicitação, faz a verificação de todos os dados fornecidos pelo usuário, e, se estiverem corretas, um novo token será gerado que permitirá o acesso do usuário ao sistema. </p>
</body>

</html>